<!-- COURSE -->
<div class="course content">
    <div class="info">
        <img src="/assets/icons/youtube.svg">
        <p class="title">Course Name</p>
        <p class="instructor">Instructor, Name</p>
    </div>
    <div class="progress">
        
    </div>
    <div class="study-time">
        <div>00:00</div>
    </div>
</div>