<!-- NAVBAR -->
<nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
      <!-- <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> -->
      Online Learning Manager
    </a>

      <a href="/logout">
        <img src="/assets/icons/log-out.svg" alt="Log Out">
      </a>

      <a href="/login">
        <img src="/assets/icons/log-in.svg" alt="Log In">
      </a>

    
</nav>