<!-- NAVBAR -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <!-- <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> -->
      Online Learning Manager
    </a>
    <form action="/logout" method="POST" class="form-inline">
        <button>
          <img src="/assets/icons/log-out.svg" alt="Log Out">
        </button>
    </form>

    <a href="/login">
        <img src="/assets/icons/log-in.svg" alt="Log In">
    </a>

  </nav>