<!-- NAVBAR -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Online Learning Manager
    </a>
    <form class="form-inline">
        <a href=/login>
            <img src="/assets/icons/log-in.svg" alt="Log In">
            <!-- <img src="/assets/icons/log-out.svg" alt="Log Out"> -->
        </a>
    </form>
  </nav>