<%- include('includes/header') -%>

<%- include('includes/nav') -%>

<!-- MAIN CONTENT -->
<div class="wrapper">
    <div class="inside-wrapper">

        <h2 class="primary-title">Sorry, an error occured.</h2>

    </div> 
</div>
    
<%- include('includes/header') -%>