<%- include('includes/header') -%>

<%- include('includes/nav') -%>

<!-- MAIN CONTENT -->
<div class="wrapper">
    <div class="welcome content">
        <div class="title">Welcome back, ______!</div>
    </div>

    <%- include('includes/course') -%>
    
</div>

<%- include('includes/footer') -%>