<%- include('includes/header') -%>

<%- include('includes/nav') -%>

<!-- MAIN CONTENT -->
<div class="wrapper">
    <div class="inside-wrapper">
        <!-- ADD A COURSE -->
        <div id="add-course-modal" class="modal">
            <div class="modal-content">
                <form action="#" class="modal-form">
                    <div class="modal-header">
                        <h4>Add A Course</h4>
                        <div>
                            <img id="close-button" src="/assets/icons/close.svg" alt="Close Button">
                        </div>
                    </div>
                    <div class="modal-body">
                        <input 
                            name="name"
                            class="form-input"
                            type="text"
                            placeholder="Course Name"
                        >
                        <input 
                            name="instructor"
                            class="form-input"
                            type="password"
                            placeholder="Instructor Name"
                        >
                        <input 
                            name="platform"
                            class="form-input"
                            type="text"
                            placeholder="Platform"
                        >
                    </div>
                    <div class="modal-footer">
                        <button id="add-course-submit" class="icon-button">
                            <img src="/assets/icons/plus.svg" alt="Add a Course">
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="welcome content">
            <h2 class="title">Welcome back, ______!</h2>
        </div>

        <%- include('includes/course') -%>

        <button id="open-add-course-modal" class="modal-button">Add a Course</button>

    </div>
</div>

<%- include('includes/footer') -%>