<%- include('includes/header') -%>

<%- include('includes/nav') -%>

<!-- MAIN CONTENT -->
<div class="wrapper">
    <h2 class="primary-title">Log In</h2>
    <form>
        <input 
            class="input-field"
            type="text"
            placeholder="First Name"
        >
        <input 
            class="input-field"
            type="text"
            placeholder="E-Mail"
        >
        <input 
            class="input-field"
            type="password"
            placeholder="Password"
        >
        <button class="submit-btn">
            Log In
        </button>
    </form>
    
</div>

<%- include('includes/footer') -%>