<%- include('includes/header') -%>

<%- include('includes/nav') -%>

<!-- MAIN CONTENT -->
<div class="wrapper">
    <div class="inside-wrapper">

        <h2 class="primary-title">Register</h2>
        <form action="/register" method="POST" class="auth">
            <input 
                name="firstname"
                class="input-field"
                type="text"
                placeholder="First Name"
            >
            <input 
                name="email"
                class="input-field"
                type="text"
                placeholder="E-Mail"
            >
            <input 
                name="password"
                class="input-field"
                type="password"
                placeholder="Password"
            >
            <button type="submit" class="submit-btn">
                Register
            </button>
        </form>

    </div> 
</div>

<%- include('includes/footer') -%>