/*******************************************
 GENERAL
*******************************************/

/*******************************************
 NAVBAR
*******************************************/

/*******************************************
 COURSE
*******************************************/

/*******************************************
 FOOTER
*******************************************/
footer {
    align-items: center;
    display: flex;
    justify-content: center;

    position: fixed;
        bottom: 0;
    height: 1.5rem;
    width: 100%;

    font-size: 0.75rem;
}

footer a {
    color: #000;
}

footer a:hover {
    color: #000;
    cursor: pointer;
    text-decoration: underline;
}