/*******************************************
 GENERAL
*******************************************/
html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
    padding: 4rem 0 1.5rem;

    position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
}

.inside-wrapper {
    min-height: 100%;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    padding: 4rem;
    margin: 1rem auto;

    width: 100%;
}

 .primary-title {
    margin: 2rem auto;
}

/*******************************************
 NAVBAR
*******************************************/
nav {
    height: 4rem;
}

/*******************************************
 HOME
*******************************************/
.welcome {
    align-items: center;
    display: flex;
    justify-content: start;

    height: 5rem;

    font-size: 2.5rem;
}

/*******************************************
 COURSE
*******************************************/
.course {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.info {
    align-items: center;
    display: flex;
    justify-content: space-between;

    width: 25%;
}

.study-time {
    text-align: center;
    width: 10%;
}

/*******************************************
 FOOTER
*******************************************/
footer {
    align-items: center;
    display: flex;
    justify-content: center;

    position: fixed;
        bottom: 0;
    height: 1.5rem;
    width: 100%;

    font-size: 0.75rem;
}

footer a {
    color: #000;
}

footer a:hover {
    color: #000;
    cursor: pointer;
    text-decoration: underline;
}

/*******************************************
 LOGIN / REGISTER
*******************************************/
.input-field, 
    .submit-btn {
        border: none;
        border-radius: 0.25rem;
        display: block;
        font-size: 1.25rem;
        padding: 1rem;
        width: 20rem;
}

.input-field {
    background-color: #63C87320;
    box-shadow: 1px 1px 8px #ebebeb;
    margin: 0.75rem auto;
}

.submit-btn {
    background-color: #63C873;
    box-shadow: 1px 1px 8px #ebebeb;
    color: #ffffff;
    margin: 2rem auto;
}

