/*******************************************
 GENERAL
*******************************************/
.wrapper {
    padding: 2rem;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    width: 100%;

    padding: 1rem;
    margin: 1rem auto;
}
 .primary-title {
    margin-botton: 2rem;
}

/*******************************************
 NAVBAR
*******************************************/

/*******************************************
 HOME
*******************************************/
.welcome {
    align-items: center;
    display: flex;
    justify-content: start;

    height: 5rem;

    font-size: 2.5rem;
}

/*******************************************
 COURSE
*******************************************/
.course {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.info {
    align-items: center;
    display: flex;
    justify-content: space-between;

    width: 25%;
}

.progress {
    background-color: #999999;
    width: 25%;
}

.study-time {
    text-align: center;
    width: 10%;
}

/*******************************************
 FOOTER
*******************************************/
footer {
    align-items: center;
    display: flex;
    justify-content: center;

    position: fixed;
        bottom: 0;
    height: 1.5rem;
    width: 100%;

    font-size: 0.75rem;
}

footer a {
    color: #000;
}

footer a:hover {
    color: #000;
    cursor: pointer;
    text-decoration: underline;
}

/*******************************************
 LOGIN / REGISTER
*******************************************/
.input-field, 
    .submit-btn {
        border: none;
        border-radius: 0.25rem;
        font-size: 1.25rem;
        margin: 0.5rem;
        padding: 1rem;
        width: 20rem;
}
.input-field {
    background-color: #63C87320;
    box-shadow: 1px 1px 8px #ebebeb;
}
.submit-btn {
    background-color: #63C873;
    box-shadow: 1px 1px 8px #ebebeb;
    color: #ffffff;
}

